<div class="banner--services">
    <div>
        <h1 class="banner__title">Nossos Serviços</h1>
        <h2 class="banner__subtitle">Escolha o melhor para você ou para sua empresa</h2>
    </div>
</div>
<div class="subbanner--fading-purple--extra-padding">
  <% @services.order(:id).each do |service| %>
    <% if service.id.odd?  %>
      <div class="service-card full">
    <% else %>
      <div class="service-card alt full">
    <% end %>
        <div class="meta">
          <div class="photo" style="background-image: url(<%= cl_image_path service.photo.key%>)"></div>
          <%# <ul class="details">
            <li class="author"><a href="#">John Doe</a></li>
            <li class="date">Aug. 24, 2015</li>
          </ul> %>
        </div>
        <div class="description">
          <h1><%= service.name %></h1>
          <h2><%= service.tagline %></h2>
          <p> <%= service.description %></p>
          <br>
            <h2>Público alvo:</h2>
            <% service.audiences.each do |audience| %>
              <p><%= audience.name %></p>
            <% end %>
          <%# <p class="read-more">
            <a href="#">Saiba Mais</a>
          </p> %>
        </div>
    </div>
  <% end %>
</div>





