<div class="banner--article">
    <div>
        <h1 class="banner__title">Inspire-se</h1>
        <%# <h2 class="banner__subtitle">Escolha</h2> %>
    </div>
</div>
<div class="container text-pic-subban">
    <%# <h1 class="text-pic-subban__title">Para sua Empresa</h1> %>
    <%# <hr class="text-pic-subban__hr"> %>
    <div class="text-pic-subban__text-box-full">
        <p class="text-pic-subban__paragraph">“Ao fazer o que você ama, você inspira e desperta o coração de outros seres.”
        </p>
        <p class="text-pic-subban__paragraph">Satsuki Shibuya</p>
    </div>
</div>
<div class="subbanner--gray">
  <div class="article-wrapper">
    <% @articles.order(created_at: :desc).each do |article| %>
    <div class="flex-article">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <div class="card__background--main" style="background-image: url(
            <% if article.photo.key.nil?%>
              <%= asset_path( 'article-placeholder-s.jpg' )%>
            <% else %>
              <% begin %>
                <%= cl_image_path article.photo.key %>
              <% rescue  CloudinaryException %>
                <%= asset_path( 'article-placeholder-s.jpg' )%>
              <% end %>
            <% end %>
            );">
              <div class="card__background--layer"></div>
            </div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day"> <%= article.created_at.day %> </span>
            <span class="date__month"> <%= @months[article.created_at.month - 1] %></span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5> <%= link_to article.title.truncate_words(10), article_path(article.title_param) %> </h5>
          
          <p>
            <%= link_to "#{article.user.full_name}", about_path(anchor: "#{article.user.first_name.downcase}#{article.user.last_name.downcase}" ), class: "article__p__a" %>
          </p>
          <p> <%= article.rich_body.to_plain_text.truncate_words(9) %></p>
          <%# <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Leia Mais</a> %>
        </div>
      </article>
    </div>
    <% end %>
  </div>
</div>