<div class="banner--empty" style="background-image: url(
            <% if @article.photo.key.nil?%>
              <%= asset_path( 'article-placeholder-s.jpg' )%>
            <% else %>
              <% begin %>
                <%= cl_image_path @article.photo.key %>
              <% rescue  CloudinaryException %>
                <%= asset_path( 'article-placeholder-s.jpg' )%>
              <% end %>
            <% end %>
            );">
    <div>
      <h1 class="banner--empty__title"> <%= @article.title %></h1>
      <%# <h2 class="banner__subtitle">Escolha</h2> %>
    </div>
</div>
<div class="article">
  <div class="article__date"> <%= "#{@article.created_at.day}/#{@article.created_at.month}/#{@article.created_at.year}" %></div>
  <div class="article__side-block">
    <div class="article__authors">
      <div class="article__author">
        <%= link_to image_tag("#{@article.user.photo.filename}", width: 200, height: 200, class: "article__avatar"), about_path(anchor: "#{@article.user.first_name.downcase}#{@article.user.last_name.downcase}"), class: "article__avatar", alt:"#{@article.user.full_name}" %>
        <div class="article__author-text">
          <div class="article__author-name"> 
            <%= link_to "#{@article.user.first_name} #{@article.user.last_name}", about_path(anchor: "#{@article.user.first_name.downcase}#{@article.user.last_name.downcase}") %>
          </div>
          <div class="article__author-about"> 
            <%= "#{@article.user.about}"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="article__textbox">
    <div class="article__p">
      <%= @article.rich_body %>
    </div>
  </div>
  <div class="auth-links">
    <%= link_to "Artigos", articles_path, class: "btn btn-info gray soft" %>
    <% if policy(@article).edit? %>
      <%= link_to "Editar", edit_article_path(title_param: @article.title_param), class: "btn btn-info gray soft" %>
    <% end %>
    <% if policy(@article).destroy? %>
      <%= link_to "Deletar",
        article_path(@article),
        method: :delete,
        class: "btn btn-info gray soft",
        data: { confirm: "Tem certeza de que quer deletar esse artigo?" } 
      %>
    <% end %>
    <br>
  </div>
</div>
