<div class="banner--empty" style="background-image: url('<%= cl_image_path @article.photo.key %>')">
    <div>
      <h1 class="banner--empty__title"> <%= @article.title %></h1>
      <%# <h2 class="banner__subtitle">Escolha</h2> %>
    </div>
</div>
<div class="article">
  <div class="article__date"> <%= "#{@article.created_at.day}/#{@article.created_at.month}/#{@article.created_at.year}" %></div>
  <div class="article__side-block">
    <div class="article__authors">
      <div class="article__author">
        <%= link_to image_tag("#{@article.partner.photo.filename}", width: 200, height: 200, class: "article__avatar"), about_path(anchor: "#{@article.partner.first_name.downcase}#{@article.partner.last_name.downcase}"), class: "article__avatar", alt:"#{@article.partner.first_name} #{@article.partner.last_name}" %>
        <div class="article__author-text">
          <div class="article__author-name"> 
            <%= link_to "#{@article.partner.first_name} #{@article.partner.last_name}", about_path(anchor: "#{@article.partner.first_name.downcase}#{@article.partner.last_name.downcase}") %>
          </div>
          <div class="article__author-about"> 
            <%= "#{@article.partner.about}"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="article__textbox">
    <div class="article__p">
      <%= @article.body %>
    </div>
  </div>
</div>
