<div class="jumbotron container-footer">
  <div class="container">
    <footer>
        <div class="row d-md-none">
            <div class="col-xs-6 col-sm-6 border-right">
              <p class="text-center">
                <%= link_to "services" do %>Serviços<% end %>
              </p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center">
                  <%= link_to "leaders" do %>Para Você<% end %>
                </p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center">
                  <%= link_to "companies" do %>Para Empresas<% end %>
                </p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center">
                  <%= link_to "about" do %>Sobre Nós<% end %>
                </p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center">
                  <%= link_to "contact" do %>Contate-nos<% end %>
                </p>
            </div>
        </div>

        <div class="row d-none d-md-block">
            <p class="text-center">
                <%= link_to "services" do %>Serviços<% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "leaders" do %>Para Você<% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "companies" do %>Para Empresas<% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "about" do %>Sobre Nós<% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "contact" do %>Contate-nos<% end %>
            </p>
        </div>

        <div class="row" style="margin-top:60px; justify-content:center">
            <div>
                <ul class="list-inline">
                    <li>
                      <a href="https://www.facebook.com" title="Nosso Facebook" target="_blank">
                          <i class="fab fa-facebook-square fa-lg"></i>
                      </a>
                    </li>
                    &nbsp;&nbsp;
                    <li>
                      <a href="https://www.instagram.com" title="Nosso Instagram" target="_blank">
                          <i class="fab fa-instagram-square fa-lg"></i>
                      </a>
                    </li>
                    &nbsp;&nbsp;
                    <li>
                      <a href="https://www.linkedin.com" title="Nosso Linkedin" target="_blank">
                          <i class="fab fa-linkedin fa-lg"></i>
                      </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top:40px; justify-content:center">
            <div>
                <p class="text-center">
                  © The Lighthouse. Todos os direitos reservados.
                </p>
            </div>
        </div>
	</footer>
  </div>
</div>