<footer class="footer mt-auto py-3">
  <div class="container">
    <footer>
        <div class="row d-md-none">
            <div class="col-xs-6 col-sm-6 border-right">
              <p>
                  <%= link_to "services" do %>
                    Serviços
                  <% end %>
              </p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center"><a href="https://harpoon.jobs/leadingcompanies">Leading companies</a></p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center"><a href="https://harpoon.jobs/about">About</a></p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center"><a href="https://harpoon.jobs/faqs">FAQ'S</a></p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right">
                <p class="text-center"><a href="https://harpoon.jobs/terms">Terms of service</a></p>
            </div>
            <div class="col-xs-6 col-sm-6 border-right last">
                <p class="text-center"><a href="https://harpoon.jobs/privacy">Privacy policy</a></p>
            </div>
        </div>

        <div class="row d-none d-md-block">
            <p class="text-center">
                <%= link_to "services" do %>
                Serviços
                <% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "leaders" do %>
                Para Você
                <% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "companies" do %>
                Para Empresas
                <% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "about" do %>
                Sobre Nós
                <% end %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "contact" do %>
                Contate-nos
                <% end %>
            </p>
        </div>

        <div class="row text-center" style="margin-top:60px">
            <div>
                <ul class="list-inline">
                    <li class="social-icons-item"><a href="https://www.facebook.com/harpoon.jobs" title="Harpoon.jobs on Facebook" target="_blank"><i class="social-icons-footer facebook"></i></a></li>
                    <li class="social-icons-item"><a href="https://twitter.com/harpoon_jobs" title="Harpoon.jobs on Twitter" target="_blank"><i class="social-icons-footer twitter"></i></a></li>
                    <li class="social-icons-item"><a href="https://www.linkedin.com/company/harpoon-lda" title="Harpoon.jobs on LinkedIn" target="_blank"><i class="social-icons-footer linkedin"></i></a></li>
                    <li class="social-icons-item last"><a href="mailto:support@harpoon.jobs" title="Harpoon.jobs email" target="_blank"><i class="social-icons-footer mail"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top:40px">
            <div>
                <p class="text-center">© The Lighthouse. Todos os direitos reservados.</p>
            </div>
        </div>

		</footer>
  </div>
</footer>