<div class="navbar navbar-expand-sm navbar-light navbar-tlh">
  <%= link_to "/", class: "navbar-brand logo-text" do %>
    <%= image_tag "avatar-logo.jpg" %>

    <%# THE LIGHTHOUSE %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div><%= render "messages/new", message: Message.new %></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
       <li class="nav-item">
          <%= link_to "Serviços", services_path, class: current_class?(services_path) %>
        <hr></li>
        <li class="nav-item">
          <%= link_to "Para Você", leaders_path, class: current_class?(leaders_path) %>
        <hr></li>
        <li class="nav-item">
          <%= link_to "Para Empresas", companies_path, class: current_class?(companies_path) %>
        <hr></li>
        <li class="nav-item">
          <%= link_to "Sobre Nós", about_path, class: current_class?(about_path) %>
        <hr></li>
        <li class="nav-item">
          <%#= link_to '#contactUsModal', 'data-toggle' => "modal" do %>
            <%# Contate-nos
          <% end %>
          <%#= link_to "Contate-nos", new_message_path, class: 'btn btn-info purple inverted'%>
          <%= link_to "Contato", new_message_path, class: current_class?(new_message_path), data: { toggle: 'modal', target: '#contactUsModal'}%>
        <hr></li>
        <li class="nav-item dropdown">
          <% begin %>
            <%= cl_image_tag(current_user.photo.key, secure: true, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% rescue CloudinaryException %>
            <%= image_tag "empty-profile.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if policy(Article).create? %>
            <%= link_to "Criar Artigo", new_article_path, class: "dropdown-item" %>
          <% end %>
            <%#= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        <li class="nav-item">
          <%= link_to "Serviços", services_path, class: current_class?(services_path) %>
        <hr></li>
        <li class="nav-item">
          <%= link_to "Para Você", leaders_path, class: current_class?(leaders_path) %>
        <hr></li>
        <li class="nav-item">
          <%= link_to "Para Empresas", companies_path, class: current_class?(companies_path) %>
        <hr></li>
        <li class="nav-item">
          <%= link_to "Sobre Nós", about_path, class: current_class?(about_path) %>
        <hr></li>
        <li class="nav-item">
          <%#= link_to '#contactUsModal', 'data-toggle' => "modal" do %>
            <%# Contate-nos
          <% end %>
          <%#= link_to "Contate-nos", new_message_path, class: 'btn btn-info purple inverted'%>
          <%= link_to "Contato", new_message_path, class: current_class?(new_message_path), data: { toggle: 'modal', target: '#contactUsModal'}%>
        <hr></li>

        
        
        <li class="nav-item dropdown">
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
