<div class="banner--company">
    <div>
        <h1 class="banner__title">Serviços Para Sua Empresa</h1>
        <h2 class="banner__subtitle">Escolha</h2>
    </div>
</div>
<div class="container text-pic-subban">
    <h1 class="text-pic-subban__title">Para sua Empresa</h1>
    <hr class="text-pic-subban__hr">
    <div class="text-pic-subban__text-box-full">
        <p class="text-pic-subban__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quam voluptas dolor doloremque minus tempore eveniet facilis repellat minima provident culpa quidem optio suscipit nobis modi perspiciatis sed quae corporis.
        </p>
        <p class="text-pic-subban__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quo nihil excepturi repellat perspiciatis enim! Excepturi harum nesciunt doloribus consectetur id, dolorum similique, iusto sed necessitatibus earum rem ex accusamus.
        </p>
    </div>
</div>
<div class="subbanner--gray">
  <% @services.order(:id).each_with_index do |service, i| %>
    <% if i.odd?  %>
      <div class="service-card full">
    <% else %>
      <div class="service-card alt full">
    <% end %>
        <div class="meta">
          <div class="photo" style="background-image: url(<%= cl_image_path service.photo.key%>)"></div>
          <%# <ul class="details">
            <li class="author"><a href="#">John Doe</a></li>
            <li class="date">Aug. 24, 2015</li>
          </ul> %>
        </div>
        <div class="description">
          <h1><%= service.name %></h1>
          <h2><%= service.tagline %></h2>
          <p> <%= service.description %></p>
          <br>
            <h2>Público alvo:</h2>
            <% service.audiences.each do |audience| %>
              <p><%= audience.name %></p>
            <% end %>
          <%# <p class="read-more">
            <a href="#">Saiba Mais</a>
          </p> %>
        </div>
    </div>
  <% end %>
</div>