<div class="banner__pic">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# <h1>Oriente-se para o que te traz sentido</h1>
        <h2>Descubra a The Lighthouse</h1> %>
        <img class="d-block w-100" src="<%= asset_path( 'hero-1-m.jpg' ) %>" alt="First slide">
        <div class="carousel-caption">
          <h1 class="carousel-caption__h1">Oriente-se para o que te traz sentido</h1>
          <%# <h2 class="carousel-caption__h2">Descubra a The Lighthouse</h2> %>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="object-position=bottom" src="<%= asset_path( 'hero-2-m.jpg' ) %>" alt="Second slide">
        <div class="carousel-caption">
          <h1 class="carousel-caption__h1">Desenvolva sua liderança</h1>
          <%# <h2 class="carousel-caption__h2">Inspire e Seja Inspirado</h2> %>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="<%= asset_path( 'hero-3-m.jpg' ) %>" alt="Third slide">
        <div class="carousel-caption">
          <h1 class="carousel-caption__h1">Alinhe seu talento ao seu propósito</h1>
          <%# <h2 class="carousel-caption__h2">Descubra a The Lighthouse</h2> %>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="<%= asset_path( 'hero-4-m.jpg' ) %>" alt="Second slide">
        <div class="carousel-caption">
          <h1 class="carousel-caption__h1">Amplie sua visão</h1>
          <%# <h2 class="carousel-caption__h2">Conheça novas perspectivas</h2> %>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="<%= asset_path( 'hero-5-m.jpg' ) %>" alt="Second slide">
        <div class="carousel-caption">
          <h1 class="carousel-caption__h1">Tenha clareza sobre sua carreira</h1>
          <%# <h2 class="carousel-caption__h2">Descubra a The Lighthouse</h2> %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


  <%# <div>
    <h1 class="banner__title">Oriente-se para o que te traz sentido</h1>
    <h2 class="banner__subtitle">Descubra a The Lighthouse</h2>
  </div>
</div> %>




<div class="tlh-banner">
  <div class="row">
    <%# <div class="tlh-banner__picbox"> %>
      <%#= image_tag "company.jpg", class:"tlh-banner__pic" %>
    <%# </div> %>
    <div class="tlh-banner__textbox">
      <div class="tlh-banner__texts">
        <h2 class="tlh-banner__title">Alinhe-se a sua verdade!</h2>
        <p class="tlh-banner__paragraph">
          A <i><strong>The Lighthouse</strong></i> é uma consultoria inspiradora especializada em desenvolvimento profissional e humano, com foco em Planejamento de Carreira e Orientação de Propósito.</p>
        <p class="tlh-banner__paragraph">A nossa missão é inspirar e orientar pessoas a encontrar o alinhamento entre <strong>Talento</strong> e <strong>Propósito</strong>, para que vivam com mais <strong>Felicidade</strong> e <strong>Significado</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
<%# <hr class="tlh-banner__hr"> %>
<div class="subbanner--white">
  <div class="subbanner--white__title-box">
    <h2 class="subbanner--white__title">Serviços</h2>
    <hr class="subbanner--white__hr">
    <%# <h3 class="subbanner--white__title">Para Você e para sua Empresa</h3> %>
  </div>
  <div class="subbanner--white__title-box">
    <%# <h2 class="subbanner--white__subtitle">Para Você e Para Sua Empresa</h2> %>
    <%# <hr class="subbanner--white__hr"> %>
    <%# <h3 class="subbanner--white__title">Para Você e para sua Empresa</h3> %>
  </div>
  <div class="service-card-grid">
    <% @services.order(:id).each do |service| %>
      <%= link_to "services" do %>
        <div class="grid-service-card" style="background-image: url(<%= cl_image_path service.photo.key%>)">
          <div class="grid-service-card__text-box">
            <div class="grid-service-card__text-box__h1"><%= service.nickname %></div>
            <div class="grid-service-card__text-box__h2"><%= service.tagline %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

 
  
  <%# <p style="text-align: center; padding-bottom: 20px; margin-bottom: 0px"> %>
    <%#= link_to "services", class: "btn btn-info purple" do %>
      <%# Saiba Mais %>
    <%# end %>
  <%# </p> %>

</div>
<%# <div class="text-pic-subban">
  <div class="row">
    <div class="text-pic-subban__text-box">
      <h2 class="text-pic-subban__title">Para Você</h2>
      <hr class="text-pic-subban__hr">
      <p class="text-pic-subban__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum id delectus sed placeat? Nisi modi tempora delectus veritatis?</p>
      <p class="text-pic-subban__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab recusandae debitis velit tempore voluptates repellat nemo iste libero temporibus quo expedita, veritatis. Modi.</p>
      <p> %>
        <%#= link_to "leaders", class: "btn btn-info purple" do %>
          <%# Saiba Mais %>
        <%# end %>
      <%# </p>
    </div>
    <div class="text-pic-subban__pic-box">
			<div class="text-pic-subban__pic-box-img text-pic-subban__pic-box-img--people"></div>
		</div>
  </div>
</div>
<div class="text-pic-subban">
  <div class="row">
    <div class="text-pic-subban__pic-box">
			<div class="text-pic-subban__pic-box-img text-pic-subban__pic-box-img--company"></div>
		</div>
    <div class=text-pic-subban__text-box>
      <h2 class="text-pic-subban__title">Para Empresas</h2>
      <hr class="text-pic-subban__hr">
      <p class="text-pic-subban__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum id delectus sed placeat? Nisi modi tempora delectus veritatis?</p>
      <p class="text-pic-subban__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab recusandae debitis velit tempore voluptates repellat nemo iste libero temporibus quo expedita, veritatis. Modi.</p>
      <p> %>
        <%#= link_to "companies", class: "btn btn-info purple" do %>
          <%# Saiba Mais %>
        <%# end %>
      <%# </p>
    </div>
  </div>
</div> %>



