<h1>Olá! Recebemos um novo contato!</h1>
<p>Novo contato de <%= @message.name %></p>
<p>Empresa: <%= @message.company %></p>
<p>Telefone: <%= @message.phone %></p>
<p>Email: <%= @message.email %></p>
<p>Mensagem: <%= @body %></p>